<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/styles.css" />
</head>
<body>

  <header id="site-header">
    <div class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class='navbar-brand'>Olympic games</a>
        </div>
      </div>
    </div>
  </header>

  <main class="site-main">
    <div class="container">
      <%- body %>
    </div>
  </main>

  <footer id='site-footer'>
    Copyright @ 2016 Olympics
  </footer>


</body>
</html>
